@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}
.login{
    position: relative;
    width: 380px;
    padding: 80px 50px 50px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.login form{
    position: relative;
    width: 100%;
}
.logo{
    max-height: 90px;
}
.login form h2{
    font-size: 2em;
    margin-bottom: 30px;
    line-height: 0.9em;
}
.login form h2 span{
    font-weight: 300;
    font-size: 0.65em;
}
.login form .inputbox{
    position: relative;
    display: flex;
}
.login form .inputbox input{
    border: none;
    outline: none;
    background: transparent;
    border-radius: 10px;
    font-size: 1em;
}
.login form .inputbox input[type="text"],
.login form .inputbox input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}
.login form .inputbox i {
    position: absolute;
    left: 20px;
    top: 25%;
}
.login form label {
    display: flex;
    align-items: center;
}
.login form input[type="checkbox"] {
    margin-right: 5px;
}
.login form  input[type="submit"] {
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.login form  input[type="submit"]:focus {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}
.login .fingerprint {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
.login .fingerprint .fingerprintintBox{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff ;
    border: 3px solid #edf1f4;
    padding: 10px 20px ;
    border-radius: 10px;
    background: linear-gradient(315deg, #21bfdb, #01927f);
}
.login .fingerprint .fingerprintintBox img {
    max-width: 80px;
    filter: invert(1);
    animation: animate 0.5s linear infinite;
}
@keyframes animate {
    0%,
    100%{
        opacity: 1; 
    }
        50%{
            opacity: 0.5;
        }
    }
    .login .fingerprint p{
        font-weight: 500;
    }
    hr{
        margin-top: 1rem;
        margin-bottom: 1 rem;
       border: 1px solid #01927f;
       width: 100%;
    }
  
    .footer-bottom p a{
        display: flex;
        justify-content: center;
        color: var(--green-heavy);
        text-decoration: none;
        font-size: 1.1rem;
    }
    .footer-bottom p a:hover{
     
        color: var(--green-heavy);
        text-decoration: underline;
        font-size: 1.1rem;
    }
